<div class="columns">
    <div class="column">
        <a href="{{ path('connect_start', {'client': 'google'}) }}" class="button is-outlined is-google">
                                    <span class="icon">
                                        <i class="icon-google icon-lg"></i>
                                    </span>
            <span>Google</span>
        </a>
    </div>

    <div class="column">
        <a href="{{ path('connect_start', {'client': 'google'}) }}" class="button is-outlined is-linkedin">
                                    <span class="icon">
                                        <i class="icon-linkedin icon-lg"></i>
                                    </span>
            <span>LinkedIn</span>
        </a>
    </div>

    <div class="column">
        <a href="{{ path('connect_start', {'client': 'google'}) }}" class="button is-outlined is-facebook">
                                    <span class="icon">
                                        <i class="icon-facebook icon-lg"></i>
                                    </span>
            <span>Facebook</span>
        </a>
    </div>
</div>