
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="section">
            <div class="columns is-centered">
                <div class="column is-half">
                    {% if error %}
                        <div class="notification is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <form action="{{ path('login') }}" method="post">
                        <div class="field">
                            <label for="username">Email</label>
                            <div class="control">
                                <input class="input" type="text" id="username" name="email" value="{{ last_username }}" placeholder="Your email" required/>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="password" id="password" name="password" placeholder="Your password" required/>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <input class="is-checkradio is-link" id="remember_me" type="checkbox" name="remember_me">
                            <label for="remember_me">Keep me logged in</label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="field">
                            <div class="control">
                                <button class="button is-link is-outlined" type="submit">Log in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}