{% extends '@FOSUser/layout.html.twig' %}

{% block page_title %}{{ 'layout.register'|trans }}{% endblock %}

{% block wrapper %}
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			<div class="card">
				<img class="card-img-top img-fluid" src="{{ asset('build/images/background05.jpg') }}" alt="Card image cap">
				<div class="card-body">
					<h2 class="card-title section-title">{{ 'layout.login'|trans }}</h2>
					<div class="content">
						{{ 'registration.check_email'|trans({ '%email%': user.email, '%url%': path('contact')}) | raw }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}