/*! bulma-social v2.0.0 | MIT License | github.com/aldi/bulma-social */
.button {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
       -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.no-animation {
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button.is-facebook {
  background-color: #1877f2;
  border-color: transparent;
  color: #fff;
}

.button.is-facebook:hover, .button.is-facebook.is-hovered {
  background-color: #0e70f0;
  border-color: transparent;
  color: #fff;
}

.button.is-facebook:focus, .button.is-facebook.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-facebook:focus:not(:active), .button.is-facebook.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(24, 119, 242, 0.25);
          box-shadow: 0 0 0 0.125em rgba(24, 119, 242, 0.25);
}

.button.is-facebook:active, .button.is-facebook.is-active {
  background-color: #0d6ae4;
  border-color: transparent;
  color: #fff;
}

.button.is-facebook[disabled],
fieldset[disabled] .button.is-facebook {
  background-color: #1877f2;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-facebook.is-inverted {
  background-color: #fff;
  color: #1877f2;
}

.button.is-facebook.is-inverted:hover, .button.is-facebook.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-facebook.is-inverted[disabled],
fieldset[disabled] .button.is-facebook.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #1877f2;
}

.button.is-facebook.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-facebook.is-outlined {
  background-color: transparent;
  border-color: #1877f2;
  color: #1877f2;
}

.button.is-facebook.is-outlined:hover, .button.is-facebook.is-outlined.is-hovered, .button.is-facebook.is-outlined:focus, .button.is-facebook.is-outlined.is-focused {
  background-color: #1877f2;
  border-color: #1877f2;
  color: #fff;
}

.button.is-facebook.is-outlined.is-loading::after {
  border-color: transparent transparent #1877f2 #1877f2 !important;
}

.button.is-facebook.is-outlined.is-loading:hover::after, .button.is-facebook.is-outlined.is-loading.is-hovered::after, .button.is-facebook.is-outlined.is-loading:focus::after, .button.is-facebook.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-facebook.is-outlined[disabled],
fieldset[disabled] .button.is-facebook.is-outlined {
  background-color: transparent;
  border-color: #1877f2;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #1877f2;
}

.button.is-facebook.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-facebook.is-inverted.is-outlined:hover, .button.is-facebook.is-inverted.is-outlined.is-hovered, .button.is-facebook.is-inverted.is-outlined:focus, .button.is-facebook.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: #1877f2;
}

.button.is-facebook.is-inverted.is-outlined.is-loading:hover::after, .button.is-facebook.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-facebook.is-inverted.is-outlined.is-loading:focus::after, .button.is-facebook.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #1877f2 #1877f2 !important;
}

.button.is-facebook.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-facebook.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-facebook.is-light {
  background-color: #ecf4fe;
  color: #0c63d4;
}

.button.is-facebook.is-light:hover, .button.is-facebook.is-light.is-hovered {
  background-color: #e0edfd;
  border-color: transparent;
  color: #0c63d4;
}

.button.is-facebook.is-light:active, .button.is-facebook.is-light.is-active {
  background-color: #d4e5fd;
  border-color: transparent;
  color: #0c63d4;
}

.button.is-google {
  background-color: #ea4334;
  border-color: transparent;
  color: #fff;
}

.button.is-google:hover, .button.is-google.is-hovered {
  background-color: #e83828;
  border-color: transparent;
  color: #fff;
}

.button.is-google:focus, .button.is-google.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-google:focus:not(:active), .button.is-google.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(234, 67, 52, 0.25);
          box-shadow: 0 0 0 0.125em rgba(234, 67, 52, 0.25);
}

.button.is-google:active, .button.is-google.is-active {
  background-color: #e72e1d;
  border-color: transparent;
  color: #fff;
}

.button.is-google[disabled],
fieldset[disabled] .button.is-google {
  background-color: #ea4334;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-google.is-inverted {
  background-color: #fff;
  color: #ea4334;
}

.button.is-google.is-inverted:hover, .button.is-google.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-google.is-inverted[disabled],
fieldset[disabled] .button.is-google.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ea4334;
}

.button.is-google.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-google.is-outlined {
  background-color: transparent;
  border-color: #ea4334;
  color: #ea4334;
}

.button.is-google.is-outlined:hover, .button.is-google.is-outlined.is-hovered, .button.is-google.is-outlined:focus, .button.is-google.is-outlined.is-focused {
  background-color: #ea4334;
  border-color: #ea4334;
  color: #fff;
}

.button.is-google.is-outlined.is-loading::after {
  border-color: transparent transparent #ea4334 #ea4334 !important;
}

.button.is-google.is-outlined.is-loading:hover::after, .button.is-google.is-outlined.is-loading.is-hovered::after, .button.is-google.is-outlined.is-loading:focus::after, .button.is-google.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-google.is-outlined[disabled],
fieldset[disabled] .button.is-google.is-outlined {
  background-color: transparent;
  border-color: #ea4334;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ea4334;
}

.button.is-google.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-google.is-inverted.is-outlined:hover, .button.is-google.is-inverted.is-outlined.is-hovered, .button.is-google.is-inverted.is-outlined:focus, .button.is-google.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: #ea4334;
}

.button.is-google.is-inverted.is-outlined.is-loading:hover::after, .button.is-google.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-google.is-inverted.is-outlined.is-loading:focus::after, .button.is-google.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #ea4334 #ea4334 !important;
}

.button.is-google.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-google.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-google.is-light {
  background-color: #fdeeed;
  color: #cb2415;
}

.button.is-google.is-light:hover, .button.is-google.is-light.is-hovered {
  background-color: #fce3e1;
  border-color: transparent;
  color: #cb2415;
}

.button.is-google.is-light:active, .button.is-google.is-light.is-active {
  background-color: #fbd9d5;
  border-color: transparent;
  color: #cb2415;
}

.button.is-linkedin {
  background-color: #0a66c2;
  border-color: transparent;
  color: #fff;
}

.button.is-linkedin:hover, .button.is-linkedin.is-hovered {
  background-color: #0960b6;
  border-color: transparent;
  color: #fff;
}

.button.is-linkedin:focus, .button.is-linkedin.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-linkedin:focus:not(:active), .button.is-linkedin.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(10, 102, 194, 0.25);
          box-shadow: 0 0 0 0.125em rgba(10, 102, 194, 0.25);
}

.button.is-linkedin:active, .button.is-linkedin.is-active {
  background-color: #0959aa;
  border-color: transparent;
  color: #fff;
}

.button.is-linkedin[disabled],
fieldset[disabled] .button.is-linkedin {
  background-color: #0a66c2;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-linkedin.is-inverted {
  background-color: #fff;
  color: #0a66c2;
}

.button.is-linkedin.is-inverted:hover, .button.is-linkedin.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-linkedin.is-inverted[disabled],
fieldset[disabled] .button.is-linkedin.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #0a66c2;
}

.button.is-linkedin.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-linkedin.is-outlined {
  background-color: transparent;
  border-color: #0a66c2;
  color: #0a66c2;
}

.button.is-linkedin.is-outlined:hover, .button.is-linkedin.is-outlined.is-hovered, .button.is-linkedin.is-outlined:focus, .button.is-linkedin.is-outlined.is-focused {
  background-color: #0a66c2;
  border-color: #0a66c2;
  color: #fff;
}

.button.is-linkedin.is-outlined.is-loading::after {
  border-color: transparent transparent #0a66c2 #0a66c2 !important;
}

.button.is-linkedin.is-outlined.is-loading:hover::after, .button.is-linkedin.is-outlined.is-loading.is-hovered::after, .button.is-linkedin.is-outlined.is-loading:focus::after, .button.is-linkedin.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-linkedin.is-outlined[disabled],
fieldset[disabled] .button.is-linkedin.is-outlined {
  background-color: transparent;
  border-color: #0a66c2;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #0a66c2;
}

.button.is-linkedin.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-linkedin.is-inverted.is-outlined:hover, .button.is-linkedin.is-inverted.is-outlined.is-hovered, .button.is-linkedin.is-inverted.is-outlined:focus, .button.is-linkedin.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: #0a66c2;
}

.button.is-linkedin.is-inverted.is-outlined.is-loading:hover::after, .button.is-linkedin.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-linkedin.is-inverted.is-outlined.is-loading:focus::after, .button.is-linkedin.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #0a66c2 #0a66c2 !important;
}

.button.is-linkedin.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-linkedin.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-linkedin.is-light {
  background-color: #ecf5fe;
  color: #0c7ae9;
}

.button.is-linkedin.is-light:hover, .button.is-linkedin.is-light.is-hovered {
  background-color: #dfeefd;
  border-color: transparent;
  color: #0c7ae9;
}

.button.is-linkedin.is-light:active, .button.is-linkedin.is-light.is-active {
  background-color: #d3e8fd;
  border-color: transparent;
  color: #0c7ae9;
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.has-text-facebook {
  color: #1877f2 !important;
}

a.has-text-facebook:hover, a.has-text-facebook:focus {
  color: #0c5fcc !important;
}

.has-background-facebook {
  background-color: #1877f2 !important;
}

.has-text-facebook-light {
  color: #ecf4fe !important;
}

a.has-text-facebook-light:hover, a.has-text-facebook-light:focus {
  color: #bbd7fb !important;
}

.has-background-facebook-light {
  background-color: #ecf4fe !important;
}

.has-text-facebook-dark {
  color: #0c63d4 !important;
}

a.has-text-facebook-dark:hover, a.has-text-facebook-dark:focus {
  color: #217cf2 !important;
}

.has-background-facebook-dark {
  background-color: #0c63d4 !important;
}

.has-text-google {
  color: #ea4334 !important;
}

a.has-text-google:hover, a.has-text-google:focus {
  color: #d42616 !important;
}

.has-background-google {
  background-color: #ea4334 !important;
}

.has-text-google-light {
  color: #fdeeed !important;
}

a.has-text-google-light:hover, a.has-text-google-light:focus {
  color: #f8c3be !important;
}

.has-background-google-light {
  background-color: #fdeeed !important;
}

.has-text-google-dark {
  color: #cb2415 !important;
}

a.has-text-google-dark:hover, a.has-text-google-dark:focus {
  color: #e93b2b !important;
}

.has-background-google-dark {
  background-color: #cb2415 !important;
}

.has-text-linkedin {
  color: #0a66c2 !important;
}

a.has-text-linkedin:hover, a.has-text-linkedin:focus {
  color: #074d92 !important;
}

.has-background-linkedin {
  background-color: #0a66c2 !important;
}

.has-text-linkedin-light {
  color: #ecf5fe !important;
}

a.has-text-linkedin-light:hover, a.has-text-linkedin-light:focus {
  color: #bbdbfc !important;
}

.has-background-linkedin-light {
  background-color: #ecf5fe !important;
}

.has-text-linkedin-dark {
  color: #0c7ae9 !important;
}

a.has-text-linkedin-dark:hover, a.has-text-linkedin-dark:focus {
  color: #3394f5 !important;
}

.has-background-linkedin-dark {
  background-color: #0c7ae9 !important;
}
/*# sourceMappingURL=all.css.map */