{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body_class 'page-login' %}

{% block wrapper_wrapper %}
    <div class="login-wrapper">
        {% block wrapper %}{% endblock wrapper %}
    </div>
{% endblock %}
