{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to EasyAdmin 3' %}

{% block page_content %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>
        <strong>Welcome to Nurschool!</strong>
    </p>

    <p>
        You need verify your user account.
    </p>
    <p>
        Si has perdido el correo de bienvenida o no puedes acceder a él puedes solicitar que se vuelva a ser enviando pulsando <a href="{{ path('resend_confirmation_email') }}">aquí</a>.
    </p>
{% endblock %}
