@charset "utf-8";

// Set your brand colors
$turquoise: hsl(171, 100%, 41%);
$pink: #FA7C91;
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$primary: $pink;
$link: $turquoise;

// Update some of Bulma's component variables
$radius: 0;

// Import Bulma
@import "~bulma/bulma";
@import "~bulma-checkradio/dist/css/bulma-checkradio";

// Nurschool styles
label, .button, .navbar-item { font-weight: 500; }