@charset "utf-8";

// Set your brand colors
$turquoise: hsl(171, 100%, 41%);
$pink: hsl(350, 93%, 73%);
$red: hsl(353, 100%, 58%);
//$brown: #757763;
//$beige-light: #D0D1CD;
//$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$primary: $pink;
$link: $turquoise;

// Update some of Bulma's component variables
$radius: 0;

// Import Bulma
@import "~bulma/bulma";
@import "~bulma-checkradio/dist/css/bulma-checkradio";
@import "~@creativebulma/bulma-divider";
@import "bulma-social/all.min.css";

// Icomoon
@import "../fonts/icomoon/style.css";

// Nurschool styles
label, .button, .navbar-item { font-weight: 500; }
.icon-lg {  font-size: 1.33333em; line-height: .75em; }
