{% set prepend_separator = prepend_separator|default(false) %}
{% if prepend_separator %}
    <div class="form-group row">
        <div class="col"><hr></div>
        <div class="col-auto">O</div>
        <div class="col"><hr></div>
    </div>
{% endif %}

<div class="form-group row">
    <div class="col">
        <a href="" class="btn btn-primary btn-lg">Facebook</a>
    </div>
    <div class="col">
        <a href="" class="btn btn-primary btn-lg">Google</a>
    </div>
</div>

<small class="card-text text-muted">{{ 'security.help_connect_start'|trans({'%url_terms%': path('home')})|raw }}</small>

{% if not prepend_separator %}
    <div class="form-group row">
        <div class="col"><hr></div>
        <div class="col-auto">O</div>
        <div class="col"><hr></div>
    </div>
{% endif %}
